root = true

[*]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf
charset = utf-8
max_line_length = 120

[*.{sh,bash}]
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf
charset = utf-8
max_line_length = 80
binary_next_line   = true
switch_case_indent = true

[*.md]
#trim_trailing_whitespace = false

[*.{yml,yaml}]
indent_style = space
indent_size = 2

[*.{bat,vbs,ps1}]
end_of_line = CRLF

[*.{js,jsx,ts,tsx,json}]
indent_size = 2
